<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics.html %}
  </head>

  <body>

    <div class="wrapper-container">
      <div class="wrapper-main">
        <div id="main" role="main">
          <div class="wrapper-vertical-layout">
            <div class="side-header">
              <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
                <li><a href="{{ site.baseurl }}/ideas">Ideas</a></li>
                <li><a href="{{ site.baseurl }}/quotes">Quotes</a></li>
                <li><a href="{{ site.baseurl }}/books">Literature</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
              </ul>
            </div>
            <div style="max-width: 700px;">
              {{ content }}
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <div>{% include svg-icons.html %}</div>
          <div>Heavily based on <a href="https://github.com/amitmerchant1990/reverie" target="_blank">Reverie</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
