---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    {% if page.last_modified_at %}
      <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}  ·  (Updated: {{ page.last_modified_at | date: "%B %e, %Y" }})</p>
    {% else %}
      <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
